body {
	box-sizing: border-box;
	background-color: gray;
	
}

.header {
	background-color: black;
	text-align: center;
	padding: 20px;
}

.container{
	border-style:dashed;
	height: 600px;	

}

#leter-blank{
	font-weight: bold;
}

#content{
	position: absolute;
	left: 50px;
	border-style: dashed;
	margin: 20px;
	height: 60px;

	/*position: relative;
	top: 20%;
	bottom: 20%;
	height: 70%;	*/
}

h1 {
	color: orchid;
	font-size: 40px;
}

h2 {
	color: orchid;
	margin: 20px;
	font-size: 40px;
	background-color: black;
	border-style: solid;
	border-width: 5px;
}

.word-description {
	width: 100%;
	text-align: center;
}

.spacing {
	position: absolute;
	left: 65px;
	bottom: 10px;
	width: 45%;
	height: 35%;
	border-style:dashed;
}


p {
	font-size: 28px;
	text-align: center;
}

#hideaway {
	display: none;
}

.underscore{
	border: 2px solid black;
	font-size: 100px;
	text-align: center;
	margin: 0 auto;
	height: 100px;
	width: 80px;
}
.animation {

    width: 100px;
    height: 100px;
    background-color: white;
    animation-name: JP;
    animation-duration: 4s;
}

    @keyframes JP {
    0%   {background-color:orchid; left:0px; top:0px;}
    25%  {background-color:purple; left:200px; top:0px;}
    50%  {background-color:pink; left:200px; top:200px;}
    75%  {background-color:#4aaaa5; left:0px; top:200px;}
    100% {background-color:grey; left:0px; top:0px;}
   }


 #animation{
 	float: right;
 	width: 100px;
    height: 100px;
    background-color: white;
    animation-name: JP;
    animation-duration: 4s;
 }

 #fashion-info{
 border-style:dashed;
 }


#photo-size{
	margin:0 auto;
	padding: 15px;
}


 #gameinfo{
 position: absolute;
 right: -450px;
 top: 10px;
 border-style:dashed;
 padding-right: 20px;
 }

 #footer{
 	text-align: center;
 }